{% extends 'Sales_System/base.html' %}

{% block title %} Sales Management System | Logout {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-11 col-md-6 mx-auto mt-5">
        <h2 class="text-center">You have been successfully logged out.</h2>
        <div class="border-top pt-3 text-center">
            <small class="text-muted">Would you like to log in again?</small>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Log In Again</a>
        </div>
    </div>
</div>
{% endblock content %}
